<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>Lilypond</string>
  <key>CFBundleName</key>
  <string>Lilypond</string>
  <key>DocSetPlatformFamily</key>
  <string>Lilypond</string>
  <key>isDashDocset</key>
  <true/>
  <key>dashIndexFilePath</key>
  <string>web/manuals.html</string>
  <key>DashDocSetFallbackURL</key>
  <string>http://lilypond.org/website/manuals.html</string>
  <key>DashDocSetPlayURL</key>
  <string>http://lilybin.com</string>
</dict>
</plist>
